.app-cont {
  max-width: var(--app-max-width);
  margin: 0 auto;
}

.site-head {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: flex-end;
}

.logo-img {
  height: var(--logo-size);
  width: var(--logo-size);
}
