@media print {
  .no-print {
    display: none !important;
  }

  .chat-cont {
    border: none !important;
    padding: 0 !important;
  }

  .app-cont {
    max-width: none !important;
    margin: 0 !important;
  }

  .md-msg .md-img-wrap {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .md-msg a[href]:after {
    content: " <" attr(href) ">";
    font-size: small;
    word-break: break-all;
  }

  .md-msg a.md-img-search-link {
    display: block;
  }

  .md-msg a.md-img-search-link[href]::after {
    display: none;
  }
}